*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:  'Khula', sans-serif;
	/*max-width: 100vw;*/
	 max-width: 100%;
	/*z-index: 1;*/
	box-shadow: none;
}
h1{
	font-size: 3rem;
}
h2{
	color: #56555a;
}
p{
	color: #808080;
}
a:link{
	color: #454545;
}
a:hover{
	color: red;
}
body{
	display: grid;
	grid-template-rows: repeat(5, auto);
	color: green;
}
header{
	display: grid;
	grid-template-columns: 6fr;
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 0;
	overflow: hidden;
	/*width: 100vw;*/
}
header img{
	height: 9rem;
	width: -webkit-fill-available;
}
.headerTop, .headerBottom{
	    display: flex;
}
nav{
	background-color: yellow;
	/*display: flex;*/
    justify-content: center;
    align-items: center;
    /*border-bottom: solid #e8e8e8;*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    /*position: relative;*/
}
ul{
	display: inline-flex;
	justify-content: center;
	align-items: center;
 	list-style-type: none;

}
li{
	float: left;
	white-space: nowrap;
	/*align-self: center;*/
	/*justify-content: center;
	flex-wrap: nowrap;
	text-align: center;*/
}
nav a{
	margin-left: 2rem;
	margin-right: 2rem;
}
main{
	background-color: pink;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 /*   margin-left: 30rem;
    margin-right: 30rem;*/
}
h1{
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 3rem;
	padding-left: 20rem;
	padding-right: 20rem;
}
article{
	background-color: lightblue;
	display: grid;
	/*grid-template-columns: repeat(2, 1fr);*/
	grid-template-rows: repeat(3, 1fr);
}
.hotDogContent{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}
.hotDogDetails{
	display: grid;
	grid-template-columns: 5rem auto;
	margin-left: 5rem;
    margin-right: 3rem;
}
.headerTop, .headerBottom{
   font-size: 0;
}
a:link{
	text-decoration: none;
}
.hotDogOutline img{
	height: 4rem;
	width: 4rem;
	margin-top: 3rem;
}
.moreDogsButton{
	height: 3rem;
	width: 12rem;
	font-size: .75rem;
	color: white;
	border-radius: .5rem;
	border-style: none;
	background: #286782;
	padding: .5rem;
	margin-bottom: 5rem;
}
#moreDogsButtonLink:link, #moreDogsButtonLink:visited{
	color: white;
}
#moreDogsButtonLink:hover{
	color: red;
}

.hotDogImage img{
	/*height: 45rem;*/
	width: -webkit-fill-available;
}
.horizontalLine{
	color: #85959c;
	border-bottom: solid;
	width: 3rem;
	height: 1rem;
}

.verticalLine{
	color: #adadad;
	border-left: solid;
	height: 1rem;
}
footer{
	background-color: #d6d6d6;
	grid-template-columns: 1fr 1fr;
    display: grid;
	color: #59595c;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
}
.footerRight{
	display: inline-flex;
	justify-self: end;
}

@media only screen and (max-width: 700px) {
	.hotDogContent{
		grid-template-columns: 1fr;
	}
	#beefDetails{
		grid-row: 2;
		display: flex;
	}
	#vegitarianDetails{
		grid-row: 6;
		display: flex;
	}
	.hotDogDetails{
		margin-left: 2rem;
    	margin-right: 2rem;
		margin-bottom: 2.5rem;
		margin-top: 2.5rem;
	}
	h1{
		padding-left: 5rem;
	    padding-right: 5rem;
	}
	footer{
		display: flex;
		flex-direction: column;
	}
	.verticalLine{
		display: none;
	}
	.footerRight{
		display: grid;
		text-align: center;
	}
}