@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	max-width: 100vw;
 	box-shadow: none;
 	--dark-text: #56555a;
 	--blue: #286782;
 }
h2{
	color: #56555a;
}
p{
	color: #808080;
}
a:link{
	color: var(--dark-text);
	text-decoration: none;
}
a:visited{
	color: var(--dark-text);
}
a:hover{
	color: var(--blue);
}
body{
	display: grid;
	grid-template-rows: repeat(5, auto);
}
.homeLink{
	display: none;
}
header{	
	height: 18rem;
	overflow: hidden;
	background-image: url(../../images/header/header.jpg);
}
.instagram{
	display: grid;
	grid-template-columns: auto auto;
	position: absolute;
    top: 0;
    right: 0;
    margin-right: .75rem;
    margin-top: .25rem;
}
.instagram img{
	width: 1rem;
	height: 1rem;
}
.instagram:hover{
	transform: scale(1.2);
	color: red;
}
#instagramHashTag{
    align-self: start;
}
.instagram a:link, .instagram a:visited{
	color: white;
	font-size: .8rem;
}
nav{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
ul{
	display: inline-flex;
	justify-content: center;
	align-items: center;
 	list-style-type: none;
 	flex-wrap: wrap;
}
li{
	white-space: nowrap;
	font-size: 1.5rem;
	font-weight: bold;
	padding-left: 1rem;
    padding-right: 1rem;
}
nav a{
	margin-left: 2rem;
	margin-right: 2rem;
}
main{
	background-color: #fafafa;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid .2rem #eeeced;
}
h1{
	color: #aeaeae;
	font-size: 3.2rem;
	font-weight: 100;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 3rem;
	padding-left: 14rem;
	padding-right: 14rem;
}
article{
	background-color: white;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}
.hotDogContent{
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	max-width: 100vw;
}
.hotDogDetails{
	display: grid;
	grid-template-columns: 5rem auto;
	margin-left: 5rem;
    margin-right: 3rem;
}
.hotDogOutline img{
	height: 4rem;
	width: 4rem;
	margin-top: 3rem;
}
.hotDogOutline img:hover{
	animation-name: rockingHotDog;
	animation: rockingHotDog 2s infinite;
	transition:1s;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in-out;
}
@keyframes rockingHotDog {
	from {transform:rotate(90deg);}
    to {transform:rotate(0deg);}
}
.moreDogsButton{
	height: 2.75rem;
	width: 15rem;
	font-size: 1rem;
	color: white;
	border-radius: .3rem;
	border-style: none;
	background: #286782;
	padding: .5rem;
	margin-bottom: 8rem;
}
#moreDogsButtonLink:link, #moreDogsButtonLink:visited{
	color: white;
}
.moreDogsButton:hover{
	transform: scale(1.1);
	font-weight: bold;
	background-image: url(../../images/flame.png);
    background-size: contain;
    background-color: red;
}
.hotDogImage{
	display: flex;
    flex-direction: column;
}
.hotDogImage img{
	height: auto;
	width: -webkit-fill-available;
	width: -moz-available;
	object-fit: cover;
}
.horizontalLine{
	color: #85959c;
	border-bottom: solid;
	width: 3rem;
	height: 1rem;
}
.verticalLine{
	color: #adadad;
	border-left: solid;
	height: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
footer{
	background-color: #d6d6d6;
	grid-template-columns: 1fr 1fr;
    display: grid;
	color: #59595c;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.footerRight{
	display: inline-flex;
	justify-self: end;
	text-align: center;
}
.footerHomeLinkMobile{
	display: none;
}

@media only screen and (max-width: 700px) {
	.hotDogContent{
		grid-template-columns: 1fr;
	}
	#beefDetails{
		grid-row: 2;
		display: grid;
   		grid-template-columns: 5rem auto;
	}
	#vegitarianDetails{
		grid-row: 6;
		display: grid;
    	grid-template-columns: 5rem auto;
	}
	.hotDogDetails{
		margin-left: 2rem;
    	margin-right: 2rem;
		margin-bottom: 2.5rem;
		margin-top: 2.5rem;
	}
	h1{
		padding-left: 5rem;
	    padding-right: 5rem;
	}
	ul{
		display: flex;
		flex-direction: column;
	}
	li{
		padding-left: .5rem;
    	padding-right: .5rem;
	}
	footer{
		display: flex;
		flex-direction: column;
	}
	.verticalLine{
		display: none;
	}
	.footerRight{
		display: grid;
	}
	.footerHomeLinkMobile{
		display: inline-flex;
	}
}